<h2><%= @output %></h2>
<%= link_to Sgtn.t('assessments.Go.back.to.assessment_display_name', 'views', assessment_display_name: @assessment.display_name), course_assessment_path(@course, @assessment) %>
